a {
  opacity: 1 !important;
}
a:hover {
  color: white;
}
ul {
  list-style-type: none;
}


body {
  background-image: url(./images/backrgound-image.jpg);
  background-size: cover; /* This makes the image cover the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  color: rgba(23, 23, 145, 0.908);
  margin-left: 15rem;
  margin-right: 15rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.top_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.779);
  /* margin-left: 30%;
  margin-right: 30%; */
  border-radius: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: .25rem 0rem;
  width: 60%;
 }
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: larger;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
  background-color: rgba(255, 255, 255, 0.402);
  padding: 1rem;
  border-radius: 1rem;
}
.article::before {
  content: "NEW POST";
  color: #b95407c8;
}

.image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}
.image:hover {
  transform: scale(1.1, 1.1);
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100px;
  background: transparent;
}

.bottom_nav {
  border: 1rem;
  list-style: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
  border-top: 3px solid transparent;
  background-image: url(./images/backrgound-image.jpg);
  background-size: cover; /* This makes the image cover the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */ 
  background-position: bottom;
  background-attachment: fixed;
}

.bottom_nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 
 }

/* Responsive Design */
@media (max-width: 800px) {
  /* Adjustments for tablets and smaller devices */
  .header,
  .top_nav,
  .article {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .top_nav {
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    flex-wrap: wrap;
  }

  .navigation {
    gap: 2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}

@media (max-width: 480px) {
  /* Adjustments for mobile devices */
  .header {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }


  .top_nav {
    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .navigation {
    flex-direction: column;
    gap: 1rem;
  }

  .bottom_nav {
    padding: 1rem;
  }

  .bottom_nav_list {
    flex-direction: column;
    gap: .5rem;
  }

  .image {
    width: 80%;
    margin: 1rem auto;
  }
}
