body {
    background-image: url('https://getwallpapers.com/wallpaper/full/a/d/c/509260.jpg');
    background-size: cover; /* This makes the image cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }

.top_nav {
  background-color: burlywood;
  margin-right: 70rem;
  align-items: center;
  text-align: center;
  
}

.header {
  background-color:burlywood;
  margin-right: 70rem;
  text-align: center;
}

.center {
  margin:auto;
}

.bottom_nav {
  background-color: burlywood;
  margin-right: 70rem;
  text-align: center;
}
.article {
    text-align: center;
    align-items: center;
    background-color: burlywood;
    margin-right: 70rem;
}